@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --primary: #3aa5aa;
  --neutral: #5e5e5e;
}

body {
  background: #ffffff;
  color: #0a0a0a;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-neutral {
  background-color: var(--neutral);
}

.text-neutral {
  color: var(--neutral);
}

.border-primary {
  border-color: var(--primary);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:border-primary:hover {
  border-color: var(--primary);
}

.prose {
  --tw-prose-bullets: var(--primary);
  --tw-prose-links: var(--primary);
  --tw-prose-bold: var(--primary);
}
